# import module

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os

# Get absolute path to the project root (one directory up from notebooks)
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)

print(project_root)

# import customize file

In [ ]:
import importlib.util
import sys
import os
module_path = r'C:\Users\user\Desktop\Project\Bati_Bank\src\data_processing.py'
spec = importlib.util.spec_from_file_location("data_loader", module_path)
data_loader = importlib.util.module_from_spec(spec)
spec.loader.exec_module(data_loader)

# now you can access your function
load_data = data_loader.load_data

# test
print(load_data)

:

# Load data

In [3]:
df = load_data(r"C:\Users\user\Desktop\Project\Adey_Innovations\data\raw\Fraud_Data.csv")

# Data cleaning

In [4]:
# column name
print(df.head())

   user_id          signup_time        purchase_time  purchase_value  \
0    22058  2015-02-24 22:55:49  2015-04-18 02:47:11              34
1   333320  2015-06-07 20:39:50  2015-06-08 01:38:54              16
2     1359  2015-01-01 18:52:44  2015-01-01 18:52:45              15
3   150084  2015-04-28 21:13:25  2015-05-04 13:54:50              44
4   221365  2015-07-21 07:09:52  2015-09-09 18:40:53              39

       device_id source browser sex  age    ip_address  class
0  QVPSPJUOCKZAR    SEO  Chrome   M   39  7.327584e+08      0
1  EOGFQPIZPYXFZ    Ads  Chrome   F   53  3.503114e+08      0
2  YSSKYOSJHPPLJ    SEO   Opera   M   53  2.621474e+09      1
3  ATGTXKYKUDUQN    SEO  Safari   M   41  3.840542e+09      0
4  NAUITBZFJKHWW    Ads  Safari   M   45  4.155831e+08      0

In [5]:
# column information 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  object
 2   purchase_time   151112 non-null  object
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 12.7+ MB
None

In [6]:
# statical data
print(df.describe())

             user_id  purchase_value            age    ip_address  \
count  151112.000000   151112.000000  151112.000000  1.511120e+05
mean   200171.040970       36.935372      33.140704  2.152145e+09
std    115369.285024       18.322762       8.617733  1.248497e+09
min         2.000000        9.000000      18.000000  5.209350e+04
25%    100642.500000       22.000000      27.000000  1.085934e+09
50%    199958.000000       35.000000      33.000000  2.154770e+09
75%    300054.000000       49.000000      39.000000  3.243258e+09
max    400000.000000      154.000000      76.000000  4.294850e+09

               class
count  151112.000000
mean        0.093646
std         0.291336
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [7]:
 # check missing values
print(df.isnull().sum())

user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
dtype: int64

In [8]:
# check duplicate
print(df.duplicated().sum())

0

In [9]:
#missing value proportion
null_val_sums = df.isnull().sum()
pd.DataFrame({"Column": null_val_sums.index, "Number of Null Values": null_val_sums.values,
"Proportion": null_val_sums.values / len(df) })

            Column  Number of Null Values  Proportion
0          user_id                      0         0.0
1      signup_time                      0         0.0
2    purchase_time                      0         0.0
3   purchase_value                      0         0.0
4        device_id                      0         0.0
5           source                      0         0.0
6          browser                      0         0.0
7              sex                      0         0.0
8              age                      0         0.0
9       ip_address                      0         0.0
10           class                      0         0.0

# data types

In [10]:
#lists the columns with categorical data
object_train_df=df.select_dtypes(include=['object'])    
object_train_df.columns

Index(['signup_time', 'purchase_time', 'device_id', 'source', 'browser',
       'sex'],
      dtype='object')

In [11]:
#lists the columns with numerical data
num_train_df=df.select_dtypes(include=['int','float'])     
num_train_df.columns

Index(['user_id', 'purchase_value', 'age', 'ip_address', 'class'], dtype='object')